<header>
  <div id="navbar">
      <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                      <span class="sr-only">&#x0BAA&#x0BBE&#x0BA3&#x0BCD&#x0B9F&#x0BBF&#x0BAF&#x0ba9&#x0BCD &#x0BAA&#x0BCA</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a href="#/" class="logo navbar-brand">
                    <!-- http://unicode.org/charts/PDF/U0B80.pdf
                  http://jrgraphix.net/r/Unicode/0B80-0BFF-->
                      <h2>&#60; &#x0BAA&#x0BBE&#x0BA3&#x0BCD&#x0B9F&#x0BBF&#x0BAF&#x0ba9&#x0BCD <span>&#x0BAA&#x0BCA</span>&#47;&#62;</h2>
                      <div class="roles">
                          <div>Front-end developer</div>
                          <div>Web designer</div>
                          <div>UI designer</div>
                          <div>Multidisciplinary designer</div>
                      </div>
                  </a>
              </div>
              <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="home">About</a></li>
                    <li><a href="resume">Resume</a></li>
                    <li><a href="portfolio">Portfolio</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
          </div>
      </nav>
  </div>
</header>